@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --bg-collor: #9b225e;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-collor);
  color: #f0f0f0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
